h1{
    text-align: center;
    font-size: 80px;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: antiquewhite;

}

form{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;

}

input{
    border-radius: 10px;
    margin-bottom: 5px;
}

label{
    color: rgb(31, 180, 31);

}

iframe{
    margin: 0%;
}

