<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../layouts/header.css">
</head>

<body>
    <!--Header para o resto do site-->
    <header>
        <div><img src="../assets/images/ugadrinkspng-removebg-preview (1).png"></div>
    <ul>
        <a href="./../index.html" target="_parent"><li>Menu</li></a>
        <a href="./../pages/feedback.html" target="_parent"><li>FeedBack</li></a>
    </ul>
</header>
</body>

</html>