img{
    width: 64px;
    height: 64px;
}
div{
    text-align: center;
}
ul{
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
}
li{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 25px;
    color: rgb(12, 12, 12);
    list-style: none;
    text-align: center;
}
header{
    background-color: orange;
    width: 100%;
    position: fixed;
}
a:hover{
    text-decoration: none;
    color: black;
    background-color: antiquewhite;
    border-radius: 5px;
}
body{
    margin: 0;
    padding: 0;
    font-family: Times New Roman;
}
div{
    animation-name: spin;
}